<html>
  <head>
    <title></title>
  
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

  </head>
  <body>

  <div class="container">
    <div class="nav">
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/view">PRODUCTS</a></li>
      <li><a href="/cart">Cart ({{ session["cart"]|length }})</a></li>
    </ul>

    </div>
    
    <div class="header">
      <h1>World of Board Games</h1>
      <h3>Have fun with Games</h3>
    </div>
    
    
      
  {% block content %}
  
  {% endblock %}

    


  </div>

  

  </body>
</html>
 